{% extends 'base.html.twig' %}

{% block body %}
    <div class="notification is-info" style="border-radius: 0; background-color: #34c4d4">
        Want to see what's <strong>under the hood</strong>? Check out the
        <a class="has-text-weight-semibold" href="https://gitlab.com/josefbenjac/recruitis-demo">source code</a>.
    </div>
    <div class="section">
        <div class="container">
            <h1 class="title">Recruitis - Jobs</h1>
            <div class="box">
                <h2 class="subtitle">Title</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugiat itaque nobis nostrum officiis quasi quod recusandae reiciendis, saepe velit! Ipsa modi perspiciatis rerum sapiente sequi! Autem corporis eum harum.</p>
            </div>
            <div class="box">
                <h2 class="subtitle">Title</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugiat itaque nobis nostrum officiis quasi quod recusandae reiciendis, saepe velit! Ipsa modi perspiciatis rerum sapiente sequi! Autem corporis eum harum.</p>
            </div>
            <div class="box">
                <h2 class="subtitle">Title</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugiat itaque nobis nostrum officiis quasi quod recusandae reiciendis, saepe velit! Ipsa modi perspiciatis rerum sapiente sequi! Autem corporis eum harum.</p>
            </div>
            <div class="box">
                <h2 class="subtitle">Title</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugiat itaque nobis nostrum officiis quasi quod recusandae reiciendis, saepe velit! Ipsa modi perspiciatis rerum sapiente sequi! Autem corporis eum harum.</p>
            </div>
            <div class="box">
                <h2 class="subtitle">Title</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse fugiat itaque nobis nostrum officiis quasi quod recusandae reiciendis, saepe velit! Ipsa modi perspiciatis rerum sapiente sequi! Autem corporis eum harum.</p>
            </div>
        </div>
    </div>
{% endblock %}
